body{
	margin:0;
	padding:0;
	/*background:url("{% static 'healthkraft/images/login.jpg' %}");*/
	background-size:cover;
	font-family:sans serif;
}
.loginbox{
	width:320px;
	height:500px;
	background:#000;
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	padding:70px 30px;
}

.avtar{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);	
}
h1{
	margin:0;
	padding:0;
	text-align:center;
	font-size:30px;
}
.loginbox a{
	margin:0;
	padding:0;
	font-weight:bold;
}
.loginbox input{
	width:100%;
	margin-bottom:18px;
}
.loginbox input[type="text"], input[type="password"]
{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:white;
	font-size:16px;	
}

.loginbox input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background: #FF3333;
	color:white;
	font-size:20px;
	border-radius:20px;
}	
.loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background: #FF3333;
	color:#000;
}
.loginbox a{
text-decoration:none;
font-size:14px;
line-height:20px;
color:darkgrey;
}

.loginbox a:hover
{
	color: #FF3333;
}	