{% load static %}
<!DOCTYPE html>
<html>
<title>About Us</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'healthkraft/css/style_home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'healthkraft/css/grids.css' %}">
</head>
<body>

<img src="{% static 'healthkraft/images/11.jpg' %}" style="width:100%" height="400" width="10">
<div class="grid-container">
  <div class="header">
    <h2>About Us</h2>
	<p1>Healthcraft delivers relevant information in clear, jargon-free language that puts health into context 
	in peoples' lives. Through medical content, insights from experts and real people, and breaking 
	news, we give accurate information about health.

Healthcraft is produced by editors and journalists dedicated to delivering accurate, 
trusted, up-to-date health and medical information, for consumers. 
</p>
<div class="header">
<h2>What we offer<h2>
  </div>
  <div class="left" style="background-color:#FFA500;">
  <h3>Healthy Diet</h3>
  <p>Healthkraft is a reminder to find your healthy eating style and 
  build it throughout your lifetime. Everything you eat and drink matters. The right mix can help you be 
  healthier now and in the future.
Eating healthy is a journey shaped by many factors, including our stage of life, situations, preferences, access to 
food, culture, traditions, and the personal decisions we make over time. 
All your food and beverage choices count. Healthkraft offers ideas and tips to help you create a healthier 
eating style that meets your individual needs and improves your health.</p></div>
  <div class="middle" style="background-color:#40E0D0;">
  <h3>Fitness</h3>
  <p>Being physically active and fit can improve your health — today, tomorrow, and in the future. 
  However, most people do not do enough physical activity. People of all types, shapes, sizes, and abilities 
  can benefit from being physically active. The more you do, the greater the health benefits and the better 
  you'll feel. The information in this website can help you learn ways to add physical activity to your life.</div>  
  <div class="right" style="background-color:#FF69B4;">
  <h3>Nutrition Calculators</h3>
  <p>Do you know if you are at a healthy weight, underweight, overweight, or obese? 
  Visit this website and enter the required information 
  into one of the BMI calculators to find out your current BMI. If you are overweight, obese, underweight, or even at a healthy weight, check out 
  the Healthkraft for healthy tips.
  </div>
  <div class="footer" style="background-color:#9ACD32;">
  <h2>Tip Of The Day!</h2>
    <p>Oatmeal is a tasty whole-grain breakfast to warm you up on a cold morning. 
	Try topping your oatmeal with dried or sliced fruit or a handful of nuts to make it your own.</p>
  </div>
</div>

</body>
</htm
   
  
  