{% load static %}
<html>
<head>
        
    <style>
        body {
            background-color:black;
            font-family: sans-serif;
            color:cornsilk;
        }
        .center{
    width:200px;
    margin:0 auto;
    text-align:left;
}
ul{
    list-style-type:;
}
    


        </style>

</head>
<body align ="center">
<h1> Fitness Workout Routines</h1>
<p> <img src="{% static 'healthkraft/images/fit.jpg' %}" alt="Smiley face" width = "1400" height="400" align="top"> </p>
<h3> Select your fun workout today </h3>
<h2 align = "center"> 
<div class="center">
<ul>
        
<a href="#arms"> Arms </a>  <br>
<a href="#abs">Abs </a> <br>
<a href="#lb">Lower Body </a> <br>
<a href="#yoga"> Yoga </a> <br>
</ul>       
</div>
</h2>
<hr>

<p> <h3 id = "arms"> Full Arms Workout: calories burnt 400<br > <br>Targeted muscles:
    <div class="center">
    <ul> 
        <li>Triceps</li>
        <li>Biceps</li>
        <li>Forearm muscles</li>
    </ul>
</div>
   </h3>
    
    <iframe width="1400" height="500" src="https://www.youtube.com/embed/cF0niVnmMY0">
    </iframe>    
      
</p>
<br>
<br>
<hr>
<p>
    <h3 id = "abs"> Amazing Abs Workout: calories burnt 350 
            <br ><br>Targeted muscles:
            <div class="center">
            <ul> 
                <li>External Obliques</li>
                <li>Internal Obliques</li>
                <li>Rectus Abdominis</li>
                <li>Transversus Abdominis</li>
            </ul>
            </div>
    </h3>
    <iframe width="1400" height="700" src="https://www.youtube.com/embed/mBiWl_4fbzk">
    </iframe>  
</p>
<br>
<br>
<hr>
<p> 
    <h3 id = "lb"> Complete Lower Body Workout: calories burn 700 
            <br ><br> Targeted muscles:
            <div class="center">
            <ul>
                <li>Gluteus Maximus Muscle</li>
                <li>Sartorius Muscle</li>
                <li>Quadriceps</li>
                <li>Hamstrings</li>
                <li>Peroneus Longus Muscle</li>
            </ul>
            </div>
    </h3>
    <iframe width="1400" height="700" src="https://www.youtube.com/embed/b6JCLnL_5dg">
    </iframe>    
</p>
<br>
<br>
<hr>
<p> 
        <h3 id = "yoga"> Full Body Power Yoga Workout: calories burn 600 
                <br ><br>Targeted muscles:
                <div class="center">
                <ul> 
                    <li>Posterior Chain</li>
                    <li>Anterior Chain</li>
                    <li>Brain</li>
                    <li>Spinal Muscles</li>
                </ul>
            </div>
        </h3>
        <iframe width="1400" height="700" src="https://www.youtube.com/embed/5h-9pqWIkzg">
        </iframe>    
    </p>
    <br>
<br>
    <hr>
</body>
</html> 