{% load static %}
<html>
<title>Salads</title>
<head>
<style>
img {
    /*background-image: url("pic1.jp2");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    width: 100%;
    height: 100%; 
}
.salad {
  background-color: burlywood;
  text-align: center;
  font-family: zapfino;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 20px/1.8 "Lato", sans-serif;
}
</style>
</head>
<body>
  <div class="bg1"><img src="{% static 'healthkraft/images/salad.jpeg' %}"> </div>
  <div class="salad">
    <h2 style="font-family: Garamond; font-style: italic; font-size:40px">CAESAR SALAD</h2>
    <p style="font-family: Garamond; font-style: italic; font-size:25px"> "A wonderful, rich, anchovy dressing makes this salad a meal. Serve with crusty Italian Bread."
            </p>
      <p style="font-family: Garamond; font-style: italic; font-size:25px"> <strong>Ingredients</strong> </p>
       
          <li style="font-family: Garamond; font-style: italic; font-size:25px">6 cloves garlic, peeled, divided</li>
          <li style="font-family: Garamond; font-style: italic; font-size:25px">3/4 cup mayonnaise</li>
          <li style="font-family: Garamond; font-style: italic; font-size:25px">6 tablespoons grated Parmesan cheese, divided</li>
          <li style="font-family: Garamond; font-style: italic; font-size:25px">1 teaspoon mustard</li>
          <li style="font-family: Garamond; font-style: italic; font-size:25px">1 teaspoon workshire sauce</li>
          <li style="font-family: Garamond; font-style: italic; font-size:25px">1 tablespoon lemon juice</li>
          <li style="font-family: Garamond; font-style: italic; font-size:25px">ground black pepper, salt to taste</li>
          <li style="font-family: Garamond; font-style: italic; font-size:25px">1/4 cup olive oil</li>
          <li style="font-family: Garamond; font-style: italic; font-size:25px">1 head romaine lettuce, torn into bite-size pieces</li>
          <li style="font-family: Garamond; font-style: italic; font-size:25px">4 cups day-old bread, cubed</li>


           <blockquote style="font-family: Garamond; font-style: italic; font-size:25px"> <strong>Directions</strong>
<li style="font-family: Garamond; font-style: italic; font-size:25px">Mince 3 cloves of garlic, and combine in a small bowl with mayonnaise, anchovies, 2 tablespoons of the Parmesan cheese, Worcestershire sauce, mustard, and lemon juice. Season to taste with salt and black pepper. Refrigerate until ready to use.</li>
 <li style="font-family: Garamond; font-style: italic; font-size:25px">Heat oil in a large skillet over medium heat. Cut the remaining 3 cloves of garlic into quarters, and add to hot oil. Cook and stir until brown, and then remove garlic from pan. Add bread cubes to the hot oil. Cook, turning frequently, until lightly browned. Remove bread cubes from oil, and season with salt and peppe</li>           
 <li style="font-family: Garamond; font-style: italic; font-size:25px">Place lettuce in a large bowl. Toss with dressing, remaining Parmesan cheese, and seasoned bread cubes.</li>             
              </blockquote> <br>

              <table style="font-family: Garamond; font-style: italic; font-size:25px"> <caption><strong> Nutrition facts</strong></caption>
                <tr>
                  <th alignment="left">Per Serving: </th>
                  <th>384 calories </th>
                </tr>
                <tr>
                  <td> Fat: </td>
                  <td> 33.5g</td>
                </tr>
                <tr> 
                <td>Carbohydrates: </td>
                <td>16.3g</td>
                </tr>
                <tr> 
                        <td>Protein: </td>
                        <td>6g</td>
                        </tr>

              </table>
  </div>
</body>
</html>