{% load static %}
<html>
<title>Soups</title>
<head>
<style>
img {
    /*background-image: url("soup.jp2");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    width: 100%;
    height: 100%; 
}
.cabbagesoup {
  background-color: beige;
  text-align: center;
  font-family: zapfino;
}
body, html {
  height: 100%;
  margin: 0;
  font: 400 20px/1.8 "Lato", sans-serif;
}
style="font-family: Garamond; font-style: italic; font-size:25px"

</style>
</head>
<body>
  <div class="bg1"><img src="{% static 'healthkraft/images/soup.jpg' %}"> </div>
  <div class="cabbagesoup">
    <h2 style="font-family: Garamond; font-style: italic; font-size:40px">CABBAGE SOUP</h2>
    <p style="font-family: Garamond; font-style: italic; font-size:25px"> This comforting soup is an updated version of the recipe called for in the Cabbage Soup Diet,
        a fad weight-loss plan from the 90's. Even if you aren't looking to eat it for a week straight like the plan dictates, 
        a batch of this low-fat, low-calorie soup made with 8 different veggies is always good to have on hand.</p>
      <p style="font-family: Garamond; font-style: italic; font-size:25px"> <strong>Ingredients</strong> </p>
       
          <li style="font-family: Garamond; font-style: italic; font-size:25px">2 tablespoons olive oil</li> 
           <li style="font-family: Garamond; font-style: italic; font-size:25px">8 ounces sliced button mushrooms</li>8 ounces sliced button mushrooms
           <li style="font-family: Garamond; font-style: italic; font-size:25px"> 2 large yellow or white onion, chopped</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">1 bunch celery, grated</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">3 carrots, grated</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">2 green peppers, stemmed, seeded and grated</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">2 cloves garlic, grated</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">Half a head green cabbage, shredded</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">2 tablespoons low-sodium soy sauce</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">1/2 teaspoon garlic powder</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">1/2 teaspoon onion powder</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">Kosher salt and freshly ground black pepper</li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">One 28-ounce can crushed tomatoes </li>
           <li style="font-family: Garamond; font-style: italic; font-size:25px">4 cups low-sodium chicken broth</li>

           <blockquote style="font-family: Garamond; font-style: italic; font-size:25px"> <strong>Directions</strong>

              Heat the oil in a large, heavy-bottomed pot over medium-high heat, until shimmering.
               Add the mushrooms and cook, stirring, until soft and brown, about 5 minutes. 
              Add the onions and cook stirring, until soft and golden, about 8 minutes. 
              Add the celery, carrots, peppers and garlic and cook,
               stirring, until the vegetables begin to brown and become fragrant,
                about 5 minutes. Stir in the soy sauce, garlic and onion powder, 2 teaspoons salt and 1 teaspoon pepper.
              
              Add the cabbage to the pot and stir until it begins to wilt, about 2 minutes. Pour in the crushed tomatoes, chicken broth and 1 cup water. Stir to combine. Bring to a boil then reduce to a simmer and cook until the cabbage is tender, 30 to 45 minutes. Season with salt and pepper.
              
              </blockquote>

              <table alignment = "" style="font-family: Garamond; font-style: italic; font-size:25px">
                <tr>
                  <th> Total time:</th>
                  <th> 1hr30mins </th>
                </tr>
                <tr>
                  <td> Active: </td>
                  <td> 45mins</td>
                </tr>
                <tr> 
                <th>Yield </th>
                <th>10 - 12 servings</th>
                </tr>
              </table>
  </div>
</body>
</html>